[project]
	description = a fast web interface for git
[access "refs/*"]
	owner = group user/liupeng (hipeng)
[access "refs/for/refs/*"]
	read = group user/liupeng (hipeng)
	push = group user/liupeng (hipeng)
	label-Code-Review = -2..+2 group user/liupeng (hipeng)
	label-Verified = -1..+1 group user/liupeng (hipeng)
	rebase = group user/liupeng (hipeng)
	removeReviewer = group user/liupeng (hipeng)
	submit = group user/liupeng (hipeng)
[access "refs/heads/*"]
	read = group user/liupeng (hipeng)
	create = group user/liupeng (hipeng)
	push = +force group user/liupeng (hipeng)
	pushMerge = group user/liupeng (hipeng)
[access "refs/tags/*"]
	push = +force group user/liupeng (hipeng)
	pushTag = group user/liupeng (hipeng)
	pushSignedTag = group user/liupeng (hipeng)
